@model SocialMedia.Models.Models.Post

<div class="modal fade" id="EditPost" tabindex="-1" aria-labelledby="EditPostLabel" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditPostLabel">Edit Post</h5>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ImageURL" />
                    <input type="hidden" asp-for="PostId"/>
                    <div class="mb-3">
                        <label asp-for="Content"></label>
                        <input asp-for="Content" type="text" class="form-control" />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ImageURL">Image</label>
                        <input type="file" name="file" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded',
            function () {
                var editPostModal = new bootstrap.Modal(document.getElementById('EditPost'), {
                    backdrop: 'static',
                    keyboard: false
                });
                editPostModal.show();
            });
    </script>
    <partial name="_ValidationScriptsPartial" />
}